.Scramble-section {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.Scramble-section button {
  width: 32px;
  height: 24px;
  margin-left: 16px;
  color: #333;
  border-color: #333;
  background-color: #f9f9f9;
  outline: 0;
  cursor: pointer;
}

.Scramble-section button:active {
  background-color: #eeeeee;
}

.Scramble-section button:first-of-type {
  margin-left: 80px;
}

.Scramble-common {
  font-size: 20px;
  font-family: monospace, monospace;
}
