.Title-container {
  width: 265px;
  text-align: left;
  font-family: 'Consolas', monospace, monospace;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  color: #333333;
}

.Title-container span:nth-child(2) {
  color: #999999;
}

.Title-container span:nth-child(3) {
  color: #BBBBBB;
}
